.navbar{
    position:static;
}

*{
    font-family: 'Poppins', sans-serif;;
}

h1,h2,h3{
    color:#163300; 
}

.toparea h1{
    text-align: center;
    font-size: 68px;
}
.body{
    margin:0 8%;
}

.excercise h2{
    font-size: 36px;
    text-align: center;
}

.def, .type{
    padding-bottom: 4%;
    border-bottom: 1px solid #bbb;
}

.type h2{
    text-align: center;
    font-size: 36px;
}

.def h2, .type h3{
    font-size: 24px;
}

.database{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top:4%;
    padding-bottom:4%;
}
